h1 {
	font-family: $font-stack-head;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 10rem;
	text-shadow: 3px 3px 0 #e79805;
	letter-spacing: 1px;
	margin:0;
	display: inline-block;
	@media all and (max-width: $breakpointTablet-sml) {
		font-size: 6rem;
	}
	@media all and (max-width: $breakpointMobile) {
		font-size: 4rem;
	}
}

header {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	background-color: $bgColor;
	background-image:  url(../../assets/tree.png), url(../../assets/wall.png);
	background-repeat: no-repeat, repeat;
	background-position: center 500px, 0;
	background-size: 500px;
	@media all and (max-width: $breakpointTablet-sml) {
		background-position: center center; 
	}
	@media all and (max-width: $breakpointMobile) {
		background-size: contain; 
	}
	h2, h2 a, a.slide {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-family: $font-stack-head;
		font-weight: 700;
		margin: 5px 0;
		font-size: 1.3rem;
		padding: 5px 0;
		color: #F3411D;
		position: relative;
		transition: color 0.4s;
		@media all and (max-width: $breakpointTablet-sml) {
			color: white; 
		}
	}
	a.slide:after {
	  content: '';
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 0%;
	  border-bottom: 2px solid #222;
	  transition: width 0.4s;
	}
	a.slide:hover, a.slide:hover:after {
	  width: 100%;
	  color: #222;
	}
	p {
		font-family: $font-stack-head;
		font-weight: 100;
	}
	button {
		background: #F3411D;
		padding: 30px;
		border: #F3411D 1px solid;
		color: #FFF;
		border-radius: 5px;
	}
	.login {
		width: 100%;
		position: absolute;
		bottom: 2%;
		// right: 2%;
		display: flex;
		justify-content: space-between;
		padding: 0 2rem;
		@media all and (max-width: $breakpointTablet-sml) {
			width: 100%;
			text-align: center;
			flex-direction: column;
			h2:nth-of-type(1), h2.credits a { 
				order: 2; 
				color: #7A4A1D;
				font-size: 1rem;
			}
		}
	}
	.play {
	 	width: 90px;
	 }
	 .spotify {
	 	width: 1.3rem;
	 }
	 .special {
	 	color: black;
	 }
}
 
