// BACKGROUND
$bgColor: #FFDD76;
// #FFDD76
// #ED4145
// #9B003C
// #5A0020

// FONTS
$font-stack-main: "Roboto", sans-serif;
$font-stack-head: 'Oswald', sans-serif;

// COLOURS
$primary-color: #6f6f6f; 
$heading-color: #141414;
$accent-color: #f6b13a;
