// BACKGROUND
$bgColor: #222;


// FONTS
$font-stack-main: "Roboto", sans-serif;
$font-stack-head: 'Oswald', sans-serif;

// BREAKPOINTS
$breakpointTablet: 950px;
$breakpointTablet-sml: 700px;
$breakpointMobile: 500px;
  