article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10rem;
  text-shadow: 3px 3px 0 #e79805;
  letter-spacing: 1px;
  margin: 0;
  display: inline-block; }

header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFDD76;
  background-image: url(../../assets/tree.png), url(../../assets/wall.png);
  background-repeat: no-repeat, repeat;
  background-position: center 500px, 0;
  background-size: 500px;
  background-blend-mode: normal, color-burn; }
  header h2, header a.slide {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    margin: 5px 0;
    font-size: 1.3rem;
    padding: 5px 0;
    color: #F3411D;
    position: relative; }
  header a.slide:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #222;
    transition: 0.4s; }
  header a.slide:hover, header a.slide:hover:after {
    width: 100%;
    color: #222; }
  header p {
    font-family: "Oswald", sans-serif;
    font-weight: 100; }
  header button {
    background: #F3411D;
    padding: 30px;
    border: #F3411D 1px solid;
    color: #FFF;
    border-radius: 5px; }
  header .login {
    position: absolute;
    bottom: 2%;
    right: 2%; }
  header .play {
    width: 90px; }
  header .spotify {
    width: 1.3rem; }

main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background: #FF8C00;
  background-image: url(../../assets/wall.png);
  background-blend-mode: overlay; }

aside {
  width: 50%;
  background: #222326;
  position: relative; }
  aside h2 {
    float: left;
    width: 70%;
    height: 10vh;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    border-bottom: #3C3C3C 1px solid;
    line-height: 10vh;
    font-weight: 400;
    background: #121314;
    font-size: 2rem; }
  aside #generatePlaylist {
    float: right;
    width: 30%;
    height: 10vh;
    border: #23CF5F 1px solid;
    border-bottom: #3C3C3C 1px solid;
    background: #23CF5F;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
    outline: none; }
    aside #generatePlaylist:hover {
      background: #22E369;
      border: #22E369 1px solid;
      border-bottom: #3C3C3C 1px solid; }
  aside ul {
    clear: both;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 85vh; }
    aside ul li {
      height: 10%;
      width: 100%;
      padding: 1.6rem;
      border-bottom: #262626 1px solid;
      background: #121314; }
      aside ul li:nth-child(2n) {
        background: #171819; }
  aside #resetPlaylist {
    display: block;
    padding: 10px 20px;
    background: #780025;
    border: 1px #780025 solid;
    outline: none;
    color: #FFF;
    width: 100%;
    height: 5vh;
    z-index: 10;
    line-height: 1.6rem;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    letter-spacing: 1px; }
    aside #resetPlaylist:hover {
      background: #BB003B;
      border: 1px #BB003B solid; }
  aside .playlist {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5vh;
    opacity: 0;
    background: #181818; }
    aside .playlist iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

form {
  width: calc(50% - 40px);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 20px; }
  form p {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: #FF8F23;
    padding: 10px; }
    form p strong {
      text-transform: uppercase; }
  form input {
    margin: 0;
    padding: 20px;
    font-family: "Oswald", sans-serif; }
  form input[type=search] {
    width: 70%;
    display: block;
    margin: 0 auto;
    outline: none;
    border: 4px #FFF solid; }
    form input[type=search]:focus, form input[type=search]:hover {
      border: 4px #FF3D00 solid; }
  form input[type=submit] {
    width: 70%;
    display: block;
    margin: 10px auto;
    background: #FF3D00;
    border: 1px #FF3D00 solid;
    text-transform: uppercase;
    outline: none;
    color: #FFF; }
    form input[type=submit]:focus {
      background: #7A4A1D;
      border: 1px #7A4A1D solid;
      transform: translateY(2px); }
    form input[type=submit]:disabled {
      background-color: #FF8C00;
      color: #FFC579;
      border: #FF8C00 1px solid; }

footer {
  width: 50%;
  position: fixed;
  bottom: 0;
  left: 1%;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #7A4A1D; }
  footer a {
    color: #7A4A1D; }

html {
  font-size: 10px; }

body {
  background-color: #FFDD76;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #FFF; }

b {
  color: #222; }

a {
  text-decoration: none; }
  a:hover {
    color: #FFF;
    cursor: pointer; }

.hidden {
  display: none; }
